In [1]:
import pprint
import pandas as pd
import numpy as np
import re
import ast
import warnings
warnings.filterwarnings('ignore')

# Price

In [ ]:
# rates = {'€': 1, '£': 0.86, 'zł': 4.48, 'SAR': 4.01, "'UZS': 12256.20", "'VND': 25120.40", '¥': 150.03, 'US$': 1.07, 'MAD': 10.93,
#          "'MYR': 4.91", '4.89': 1, 'PKR': 307.51, '₪': 3.9928904, 'CHF': 0.97, 'BZD': 2.17, 'HK$': 8.3801351, '₱': 60.0592, 
#          'DZD': 146.16, "'Rp': 15901.44", 'GTQ': 8.43, 'AED': 3.93, 'CAD': 1.44, 'NPR': 141.71, 'R$': 5.32, 'PEN': 3.97, 
#          'MXN': 18.79, "'PYG': 7734.95", 'AUD': 1.62, 'THB': 37.31, 'BDT': 115.48, 'XOF': 655.83, 'EGP': 33.03, 'TL': 22.68, 
#          'ZAR': 20.73, 'NOK': 11.85, 'MKD': 61.49, 'SEK': 11.64, 'UAH': 39.76, 'AMD': 415.06, 'DKK': 7.45, 'BOB': 7.44, 
#          'SCR': 14.13, "'COP': 4516.99", 'RUB': 86.86, '$': 1.07, '₹': 88.4, "'HUF': 368.77", 'DOP': 58.35, 'NGN': 494.81, 
#          "'LAK': 19367.90", 'KHR': 4415.98, 'CRC': 576, 'MDL': 19.09, 'KES': 148.79, 'TND': 3.31, "'TZS': 2541.61", 'MZN': 67.75, 
#          'lei': 4.97, 'AZN': 1.82, 'HNL': 26.48, 'KWD': 0.33, 'UYU': 41.58, 'XAF': 657.29, 'JOD': 0.76, 'ALL': 108.68, 
#          'BGN': 1.96, 'S$': 0.6917, 'BYN': 2.7, 'PAB': 1.07, 'NIO': 39.16, "'KRW': 1393.32", 'Kč': 23.52, 'LYD': 5.18, 
#          'RSD': 117.22, "'MNT': 3726.17", 'QAR': 3.9, 'TWD': 32.9}

In [ ]:
# rates = {"€":1,"£":0.86,"zł":4.48,"SAR":4.01,"UZS":12.300,"VND":25.123,"¥":150.03,"US$":1.07,"MAD":10.93,"MYR":1,"4.89":1,
#          "PKR":307.51,"₪":3.9928904,"CHF":0.97,"BZD":2.17,"HK$":8.3801351,"₱":60.0592,"DZD":146.16,"Rp":15.899,"GTQ":8.43,
#          "AED":3.93,"CAD":1.44,"NPR":141.71,"R$":5.32,"PEN":3.97,"MXN":18.79,"PYG":7.793,"AUD":1.62,"THB":37.31,"BDT":115.48,
#          "XOF":655.83,"EGP":33.03,"TL":22.68,"ZAR":20.73,"NOK":11.85,"MKD":61.49,"SEK":11.64,"UAH":39.76,"AMD":415.06,"DKK":7.45,
#          "BOB":7.44,"SCR":14.13,"COP":4.652,"RUB":86.86,"$":1.07,"₹":88.40,"HUF":36910,"DOP":58.35,"NGN":494.81,"LAK":19.251}

In [2]:
def price_cleaning_converting(df):
    
    # We used a proxi rotation API to scrape the data from the site,proxi uses different IP's in each request,
    # each scrape had different price currency,made a dictionary with the unique values of df['signs'] column
    #and their convert rate to euro (5 June 2023 convert rates).
    rates = {'€': 1, '£': 0.86, 'zł': 4.48, 'SAR': 4.01, 'UZS': 12256.20, 'VND': 25120.40, '¥': 150.03, 'US$': 1.07, 'MAD': 10.93,
         'MYR': 4.91, '4.89': 1, 'PKR': 307.51, '₪': 3.92, 'CHF': 0.97, 'BZD': 2.17, 'HK$': 8.3801351, '₱': 60.0592, 
         'DZD': 146.16, 'Rp': 15901.44, 'GTQ': 8.43, 'AED': 3.93, 'CAD': 1.44, 'NPR': 141.71, 'R$': 5.32, 'PEN': 3.97, 
         'MXN': 18.79, 'PYG': 7734.95, 'AUD': 1.62, 'THB': 37.31, 'BDT': 115.48, 'XOF': 655.83, 'EGP': 33.03, 'TL': 22.68, 
         'ZAR': 20.73, 'NOK': 11.85, 'MKD': 61.49, 'SEK': 11.64, 'UAH': 39.76, 'AMD': 415.06, 'DKK': 7.45, 'BOB': 7.44, 
         'SCR': 14.13, 'COP': 4516.99, 'RUB': 86.86, '$': 1.07, '₹': 88.4, 'HUF': 368.77, 'DOP': 58.35, 'NGN': 494.81, 
         'LAK': 19367.90, 'KHR': 4415.98, 'CRC': 576, 'MDL': 19.09, 'KES': 148.79, 'TND': 3.31, 'TZS': 2541.61, 'MZN': 67.75, 
         'lei': 4.97, 'AZN': 1.82, 'HNL': 26.48, 'KWD': 0.33, 'UYU': 41.58, 'XAF': 657.29, 'JOD': 0.76, 'ALL': 108.68, 
         'BGN': 1.96, 'S$': 0.6917, 'BYN': 2.7, 'PAB': 1.07, 'NIO': 39.16, 'KRW': 1393.32, 'Kč': 23.52, 'LYD': 5.18, 
         'RSD': 117.22, 'MNT': 3726.17, 'QAR': 3.9, 'TWD': 32.9, "BAM": 1.96, "TTD": 7.26, "LKR": 313.28, "MUR": 48.81, "GEL": 2.80,
         "OMR": 0.41, "JMD": 166.05, "IRR": 45330.16, "BHD": 0.40, "XCD": 2.90}

    #Cleaning
    df['price'] = df['price'].replace(r"<span class=\"bui-u-sr-only\">\nOriginal price\n","",regex=True)
    df['price'] = df['price'].replace(r"<span class=\"bui-u-sr-only\">\n","",regex=True)
    df["price"]=df["price"].replace(r"\n</span>","",regex=True)
    df["price"]=df["price"].replace(".*Current price","",regex=True)
    df["price"]=df["price"].replace(".*\n","",regex=True)
    df["signs"] = df["price"].replace("[\d]","",regex=True)
    df["signs"] = df["signs"].replace("[\,\"]","",regex=True)
    df["price_clean"]=df["price"].replace("[^\d]","",regex=True)
    
    
    # PREPROCCESS TO APPLY THE DICTIONARY AND CONVERT THE PRICES TO THE NEW COLUMN #
    
    #Fill the Nan in Signs column with the most frequent value
    df["signs"] = df["signs"].fillna(df['signs'].value_counts().idxmax())
    #Fill Nans in price
    df["price_clean"] = df["price_clean"].fillna('0')
    #Convert price to integer
    df["price_clean"] = df["price_clean"].astype("int")
    #Replace unicode spaces in signs column with nothing
    df['signs'] = df['signs'].str.replace('\xa0', '')
    #Strip
    df["signs"] = df['signs'].str.strip()
    
    #APPLY
    #O KWDIKAS MEXRI TORA LITOURGEI EAN STO DICTIONARY_RATES YPARXOUN TA SYMBOLA TOY COLUMN SIGNS, ALLIOS PETAEI ERROR.MIPWS
    #PREPEI NA KANOUME TRY?
    df['amount_conv'] = df.apply(lambda x: x.price_clean / rates[x.signs], axis=1 )
    
    return df

# Reviews and Rating

In [ ]:
#"Reviews" column Cleaning and creating two new columns for the corresponding values.

def reviews_df(df):
    df["TestRev"] = df["reviews"].replace("[A-Za-z]","", regex = True)
    df["TestRev"].str.split(" ",1, expand = True)
    df[["Rating","NumReviews"]] = df["TestRev"].str.split(" ",1, expand = True)
    #df.drop(columns=["reviews","TestRev"],inplace = True)
    
    return df

# Facilities

In [ ]:
def facilities(df):
    
    #Create new list with all splitted values in each cell in facilities
    
    list_facilities = []
    for lst in df['facilities']:
        try:
            for elem in lst.split(","):
                list_facilities.append(elem)
            
        except:
            pass
    
    #make the list set
    set_facilities = set(list_facilities)
    
    #Clean the special characters from the set
    facilities_list = [re.sub(r"[^\w\s]", "", item) for item in set_facilities]
    
    #Convert to List Function
    def convert_to_list(value):
        try:
            return ast.literal_eval(value)
        except (SyntaxError, ValueError):
            return np.nan
    
    #Convert the elements inside each cell in list.
    df['facilities2'] = df['facilities'].apply(convert_to_list)
    
    df.dropna(subset = "facilities2",inplace=True)
    
    #Strip the elements inside each cell
    df["facilities2"] =df["facilities2"].apply(lambda x: [element.strip()for element in x])
    

    #Pools, Airport shuttle, Breakfast, Family Rooms, Parking, Restaurant. New columns for these with boolean.
    
    df["Airport"] = df["facilities2"].apply(lambda x: any(re.search(r"\b[Aa]irport\b", elem) for elem in x))
    df["Pool"] = df["facilities2"].apply(lambda x: any(re.search(r"\b[Pp]ool\b", elem) for elem in x))
    df["Breakfast"] = df["facilities2"].apply(lambda x: any(re.search(r"\b[Bb]reakfast\b", elem) for elem in x))
    df["Family_Rooms"] = df["facilities2"].apply(lambda x: any(re.search(r"\b[Ff]amily\b", elem) for elem in x))
    df["Parking"] = df["facilities2"].apply(lambda x: any(re.search(r"\b[Pp]arking\b", elem) for elem in x))
    df["Restaurant"] = df["facilities2"].apply(lambda x: any(re.search(r"\b[Rr]estaurant\b", elem) for elem in x))
    
    
    return df

# Size

In [ ]:
def clean_df_size(df):
    df[["size_num","size_meaus_unit"]] = df['size'].str.split(" ",2,expand=True)
    df['Feet_num'] = df.size_num.loc[df.size_meaus_unit.eq('feet²')]
    df['Feet_num'] = pd.to_numeric(df["Feet_num"])
    df["Feet_num"] = df["Feet_num"]//10.76391041671
    df['M_num'] = df.size_num.loc[df.size_meaus_unit.eq('m²')]
    df['M_num'] = pd.to_numeric(df["M_num"])
    # np.select and define list of condition with corresponding values
    df['size_m2']=(np.select([df['size_meaus_unit'].eq('m²'), 
                         df['size_meaus_unit'].eq('feet²')],
                        [df['M_num'],
                         df['Feet_num']],
                        np.nan)) 
    df.drop(["size","size_num","size_meaus_unit","Feet_num","M_num"],axis=1 ,inplace=True)
    return df

# Pets

In [ ]:
def Pets(df):
    df["Pets"] = df["rules"].apply(lambda x: "Pets are allowed" in x)
    return  df

In [2]:
Crete_August_1_2_5_stars=pd.read_csv("Crete_August_1_2_5_stars.csv")
Crete_August_3_stars_0_50_200=pd.read_csv("Crete_August_3_stars_0_50_200.csv")
Crete_August_3_Stars_50_100_apartments=pd.read_csv("Crete_August_3_Stars_50_100_apartments.csv")
Crete_August_3_Stars_50_100_without_apartments=pd.read_csv("Crete_August_3_Stars_50_100_without_apartments.csv")
Crete_August_3_Stars_100_150=pd.read_csv("Crete_August_3_Stars_100_150.csv")
Crete_August_3_stars_150_200=pd.read_csv("Crete_August_3_stars_150_200.csv")
Crete_August_4_apartments=pd.read_csv("Crete_August_4_apartments.csv")
Crete_August_4_etc=pd.read_csv("Crete_August_4_etc.csv")
Crete_August_4_villas=pd.read_csv("Crete_August_4_villas.csv")
df=pd.read_csv("crete_august_unrated_half.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")
df=pd.read_csv("lefkada_July.csv")

NameError: name 'pd' is not defined

In [3]:
# lefkada_July = pd.read_csv("lefkada_July.csv")
# Mykonos_July = pd.read_csv("Mykonos_July.csv")
# Naxos_july = pd.read_csv("Naxos_july.csv")
# Paros_July = pd.read_csv("Paros_July.csv")
# Rhodes_July = pd.read_csv("Rhodes_July.csv")
# Samos_July = pd.read_csv("Samos_July.csv")
#Santorini_July = pd.read_csv("Santorini_July.csv")
# Tinos_July = pd.read_csv("Tinos_July.csv")

In [ ]:
# dicidf = {"Lefkada":lefkada_July,
#          "Mykonos":Mykonos_July,
#          "Naxos":Naxos_july,
#          "Paros":Paros_July,
#          "Rhodes":Rhodes_July,
#          "Samos":Samos_July,
#          "Santorini":Santorini_July,
#          "Tinos":Tinos_July}

In [ ]:
for name ,df in dicidf.items():
    d.dropna(subset=["rules"],inplace = True)
    d = price_cleaning_converting(d)
    d = reviews_df(d)
    d = facilities(d)
    d = clean_df_size(d)
    d = Pets(d)
    try:
        d.drop(columns=["link"],inplace = True)
    except:
        pass
    d.drop(columns = ["facilities","price","rules","signs","price_clean","facilities2","reviews","TestRev"],inplace=True)
    d["Month"] = "July"
    #d["Location"] = "Crete"
    d["Location"] = f"{name}"
    d.to_csv(f"{name}.csv",index=False)

In [27]:
df.loc[163]["price"]

'<span class="bui-u-sr-only">\nPrice\n$722\n</span>'

In [28]:
df.iloc[362]["price"]

'<span class="bui-u-sr-only">\nPrice\n$644\n</span>'

In [29]:
df['price'] = df['price'].replace(r"<span class=\"bui-u-sr-only\">\nOriginal price\n","",regex=True)
df['price'] = df['price'].replace(r"<span class=\"bui-u-sr-only\">\n","",regex=True)
df["price"]=df["price"].replace(r"\n</span>","",regex=True)
df["price"]=df["price"].replace(".*Current price","",regex=True)
df["price"]=df["price"].replace(".*\n","",regex=True)
df["signs"] = df["price"].replace("[\d]","",regex=True)
df["signs"] = df["signs"].replace("[\,\"]","",regex=True)
df["price_clean"]=df["price"].replace("[^\d]","",regex=True)

In [30]:
#df.drop(columns=["link"],inplace = True)

In [24]:
df[df["name"]=="Stelva Villas"]

,name,location,reviews,facilities,price,size,rules,stars
362,Stelva Villas,"Piskopiano, Piskopiano, Hersonissos, 70014, Gr...",6.5Pleasant 158 reviews,"['2 swimming pools', 'Airport shuttle', 'Free ...","<span class=""bui-u-sr-only"">\nPrice\n$644\n</s...",431 feet²,['Parties\n\n\nParties/events are not allowed'...,NaN

In [31]:
#Fill the Nan in Signs column with the most frequent value
df["signs"] = df["signs"].fillna(df['signs'].value_counts().idxmax())
#Fill Nans in price
df["price_clean"] = df["price_clean"].fillna('0')
#Convert price to integer
df["price_clean"] = df["price_clean"].astype("int")
#Replace unicode spaces in signs column with nothing
df['signs'] = df['signs'].str.replace('\xa0', '')
#Strip
df["signs"] = df['signs'].str.strip()

In [32]:
df.sort_values(by="price_clean",ascending=False)

,name,location,reviews,facilities,price,size,rules,stars,signs,price_clean
284,Anemomili Village,"Drapanias, Kissamos, 73400, Greece",8.2Very Good 263 reviews,"['Outdoor swimming pool', 'Free parking', 'Non...","VND 16,643,325",35 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,VND,16643325
593,Talos apartments and studios,"22 Τυρταίου, Heraklio, 71303, Greece",9.2Wonderful 32 reviews,"['Non-smoking rooms', 'Fitness center', 'Free ...","UZS 5,030,028",50 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,UZS,5030028
293,Athanasia Holiday House,"Asomatos, Asómatoi, 74060, Greece",9.7Exceptional 4 reviews,"['Free parking', 'Non-smoking rooms', 'Family ...","COP 2,975,860",70 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,COP,2975860
245,Coral Apartments,"Papamastoraki 5, Ierapetra, 72200, Greece",8.4Very Good 75 reviews,"['Non-smoking rooms', 'Free parking', 'Beachfr...","COP 2,638,980",26 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,COP,2638980
517,Cretan Nest Residence - Explore South Crete,"35.010202,24.952957, Apesokárion, 70012, Greece",NaN,"['Non-smoking rooms', 'Free parking', 'Airport...","XOF 410,892",80 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,XOF,410892
...,...,...,...,...,...,...,...,...,...,...
305,Kind of Blue Studios,"Κουτσουναρι 0, Koutsounari, 72200, Greece",9.9Exceptional 8 reviews,"['Free parking', 'Beachfront', 'Free WiFi', 'F...",NaN,NaN,['Parties\n\n\nParties/events are not allowed'...,NaN,$,0
431,Laini Guest Houses,"Eparchiaki Odos Tavronitis-Paleochoras, Koulko...",NaN,NaN,NaN,NaN,[],NaN,$,0
176,Nontas suites,"Main Street, Kato Daratso, 73100, Greece",NaN,NaN,NaN,NaN,[],NaN,$,0
746,HRYSANTHl,"139 Σελίνου, Chania, 73131, Greece",8.9Excellent 34 reviews,"['Free WiFi', 'Non-smoking rooms']",NaN,NaN,['Parties\n\n\nParties/events are not allowed'...,NaN,$,0
542,Spiros-Soula Family Hotel & Apartments,"Lygaria, Agia Pelagia, 71500, Greece",NaN,NaN,NaN,NaN,[],NaN,$,0

In [33]:
rates = {'€': 1, '£': 0.86, 'zł': 4.48, 'SAR': 4.01, 'UZS': 12256.20, 'VND': 25120.40, '¥': 150.03, 'US$': 1.07, 'MAD': 10.93,
     'MYR': 4.91, '4.89': 1, 'PKR': 307.51, '₪': 3.92, 'CHF': 0.97, 'BZD': 2.17, 'HK$': 8.3801351, '₱': 60.0592, 
     'DZD': 146.16, 'Rp': 15901.44, 'GTQ': 8.43, 'AED': 3.93, 'CAD': 1.44, 'NPR': 141.71, 'R$': 5.32, 'PEN': 3.97, 
     'MXN': 18.79, 'PYG': 7734.95, 'AUD': 1.62, 'THB': 37.31, 'BDT': 115.48, 'XOF': 655.83, 'EGP': 33.03, 'TL': 22.68, 
     'ZAR': 20.73, 'NOK': 11.85, 'MKD': 61.49, 'SEK': 11.64, 'UAH': 39.76, 'AMD': 415.06, 'DKK': 7.45, 'BOB': 7.44, 
     'SCR': 14.13, 'COP': 4516.99, 'RUB': 86.86, '$': 1.07, '₹': 88.4, 'HUF': 368.77, 'DOP': 58.35, 'NGN': 494.81, 
     'LAK': 19367.90, 'KHR': 4415.98, 'CRC': 576, 'MDL': 19.09, 'KES': 148.79, 'TND': 3.31, 'TZS': 2541.61, 'MZN': 67.75, 
     'lei': 4.97, 'AZN': 1.82, 'HNL': 26.48, 'KWD': 0.33, 'UYU': 41.58, 'XAF': 657.29, 'JOD': 0.76, 'ALL': 108.68, 
     'BGN': 1.96, 'S$': 0.6917, 'BYN': 2.7, 'PAB': 1.07, 'NIO': 39.16, 'KRW': 1393.32, 'Kč': 23.52, 'LYD': 5.18, 
     'RSD': 117.22, 'MNT': 3726.17, 'QAR': 3.9, 'TWD': 32.9, "BAM": 1.96, "TTD": 7.26, "LKR": 313.28, "MUR": 48.81, "GEL": 2.80,
     "OMR": 0.41, "JMD": 166.05, "IRR": 45330.16, "BHD": 0.40, "XCD": 2.90}

In [34]:
df['amount_conv'] = df.apply(lambda x: x.price_clean // rates[x.signs], axis=1 )

In [38]:
df.sort_values(by="amount_conv", ascending=False)

,name,location,reviews,facilities,price,size,rules,stars,signs,price_clean,amount_conv
374,Epavlis,"Ethniki Odos Agiou Nikolaou Sitias, Mirsíni, 7...",9.3Wonderful 7 reviews,"['Non-smoking rooms', 'Free parking', 'Free Wi...","$ 201,429",15 m²,['Pets\n\n\nFree!\nPets are allowed. No extra ...,3.0,$,201429,188251.0
40,Asterina Seaside Apartments,"Kalyves, Kalyves, 73003, Greece",9.1Wonderful 120 reviews,"['Non-smoking rooms', 'Airport shuttle', 'Room...","$ 151,071",32 m²,['Pets\n\n\nPets are not allowed.'],3.0,$,151071,141187.0
543,Ikaros Studios,"Plakias, Plakias, 74060, Greece",8.4Very Good 93 reviews,"['Outdoor swimming pool', 'Non-smoking rooms',...","$ 148,251",38 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,$,148251,138552.0
744,Fournes Apartments,"Φουρνές, Δήμος Πλατανιά, Ayiá, 73005, Greece",10Exceptional 2 reviews,"['Non-smoking rooms', 'Free parking', 'Free Wi...","$ 147,539",60 m²,['Pets\n\n\nPets are not allowed.'],3.0,$,147539,137886.0
624,VILLA MICHAELA,"ΛΑΡΔΑΣ, Gramvousá, 73400, Greece",10Exceptional 1 review,"['Outdoor swimming pool', 'Non-smoking rooms',...","€ 1,241",80 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,€,1241,1241.0
...,...,...,...,...,...,...,...,...,...,...,...
795,Blue Sky Taverna Apartments Kiki,"Adelianos Kampos, Adelianos Kampos, 74100, Greece",NaN,NaN,NaN,NaN,[],NaN,$,0,0.0
376,Marena 1,"Επαρχιακή Οδός Ιεράπετρας – Σητείας, Makry Gia...",9.9Exceptional 20 reviews,"['Free WiFi', 'Beachfront', 'Family rooms', 'F...",NaN,NaN,['Parties\n\n\nParties/events are not allowed'...,NaN,$,0,0.0
807,Studio Eva Studios & Apartments-2,"Agia Pelagia, 71500, Greece",NaN,"['Non-smoking rooms', 'Beachfront', 'Free WiFi']",NaN,NaN,"['Smoking\n\nSmoking is not allowed.', 'Partie...",NaN,$,0,0.0
37,Castro Hotel,"A.Papandreou str. 301, Amoudara Herakliou, 714...",8.2Very Good 522 reviews,"['Outdoor swimming pool', 'Free WiFi', 'Free p...",NaN,NaN,['Pets\n\n\nPets are not allowed.'],NaN,$,0,0.0
747,HRYSANTHl,"139 Σελίνου, Chania, 73131, Greece",NaN,NaN,NaN,NaN,[],NaN,$,0,0.0

In [39]:
df["amount_conv"].max()

188251.0

In [40]:
df["amount_conv"].min()

0.0

In [42]:
dfNoZeross = df[df["amount_conv"]>0]

In [46]:
dfNoZeross.sort_values(by="amount_conv", ascending=True)

,name,location,reviews,facilities,price,size,rules,stars,signs,price_clean,amount_conv
757,Argo Studios,"Eleftheriou Venizelou Str., 84, Malia, 70007, ...",6.4Pleasant 14 reviews,"['Outdoor swimming pool', 'Non-smoking rooms',...","RUB 23,020",25 m²,['Pets\n\n\nPets are not allowed.'],3.0,RUB,23020,265.0
698,Argo Studios,"Eleftheriou Venizelou Str., 84, Malia, 70007, ...",6.4Pleasant 14 reviews,"['Outdoor swimming pool', 'Non-smoking rooms',...",€ 267,27 m²,['Pets\n\n\nPets are not allowed.'],3.0,€,267,267.0
998,Oleander's Garden Traditional Cretan Cottage,Eparchiaki Odos Ierapetras - Sitias Κακία Σκάλ...,8.0Very Good 203 reviews,"['Outdoor swimming pool', 'Free parking', 'Non...","SCR 3,852",16 m²,['Parties\n\n\nParties/events are not allowed'...,3.0,SCR,3852,272.0
105,Edelweiss,"Τsoutsouros , Tsoutsouros, 70100, Greece",8.8Excellent 116 reviews,"['Free WiFi', 'Non-smoking rooms', 'Airport sh...",€ 276,20 m²,['Pets\n\n\nFree!\nPets are allowed on request...,3.0,€,276,276.0
345,Stelios Residence Apartments,"25is Martiou, Malia, Malia, 70007, Greece",8.2Very Good 44 reviews,"['Outdoor swimming pool', 'Non-smoking rooms',...",$302,161 feet²,['Pets\n\n\nPets are not allowed.'],NaN,$,302,282.0
...,...,...,...,...,...,...,...,...,...,...,...
624,VILLA MICHAELA,"ΛΑΡΔΑΣ, Gramvousá, 73400, Greece",10Exceptional 1 review,"['Outdoor swimming pool', 'Non-smoking rooms',...","€ 1,241",80 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,€,1241,1241.0
744,Fournes Apartments,"Φουρνές, Δήμος Πλατανιά, Ayiá, 73005, Greece",10Exceptional 2 reviews,"['Non-smoking rooms', 'Free parking', 'Free Wi...","$ 147,539",60 m²,['Pets\n\n\nPets are not allowed.'],3.0,$,147539,137886.0
543,Ikaros Studios,"Plakias, Plakias, 74060, Greece",8.4Very Good 93 reviews,"['Outdoor swimming pool', 'Non-smoking rooms',...","$ 148,251",38 m²,"['Smoking\n\nSmoking is not allowed.', 'Partie...",3.0,$,148251,138552.0
40,Asterina Seaside Apartments,"Kalyves, Kalyves, 73003, Greece",9.1Wonderful 120 reviews,"['Non-smoking rooms', 'Airport shuttle', 'Room...","$ 151,071",32 m²,['Pets\n\n\nPets are not allowed.'],3.0,$,151071,141187.0
374,Epavlis,"Ethniki Odos Agiou Nikolaou Sitias, Mirsíni, 7...",9.3Wonderful 7 reviews,"['Non-smoking rooms', 'Free parking', 'Free Wi...","$ 201,429",15 m²,['Pets\n\n\nFree!\nPets are allowed. No extra ...,3.0,$,201429,188251.0